
h1, p {
    font-family: 'Comic Neue bold', cursive;
}

h3 {
    font-family: 'Satisfy', cursive;
}

#columna2 {
    background-color: lightblue;
}

#letraroboto {
    font-family: 'Roboto', sans-serif;
}
